export('determineCoverage')
export('determineCoverageQuality')
export('determineRegionsOfInterest')
export('reportBadRegionsSummary')
export('reportBadRegionsDetailed')
export('reportBadRegionsGenes')
export('plotSummary')
export('plotDetailed')
export('plotSummaryGenes')
export('determineQuantiles')
import('VariantAnnotation')
import('Rsamtools')
import('biomaRt')
import('GenomicRanges')
importMethodsFrom('GenomicRanges', as.data.frame)
import('S4Vectors')
importFrom('grDevices', 'dev.off', 'png')
importFrom('graphics', 'axis', 'barplot', 'legend', 'lines', 'par', 'plot', 'rect')
importFrom('stats', 'median', 'quantile')
importFrom('utils', 'write.table')
